{%extends "base_template.html"%}
 {%block tophead%}
 <style type="text/css">
 	label{
 		font-family: Roboto;
 		font-size: 18px;
 	}
 	input{
 		font-family: Roboto;
 		font-size: 18px;
 	}
 	.errorlist{
 		font-family: Roboto;
 		font-size: 18px;
 	}
 </style>
 {%endblock%}
{%block content%}

{% load thumbnail %}
{% thumbnail name_image.imagefile "100x700" as im %}
    <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}">
{% endthumbnail %}
<hr/>
<form action="/feedback/report/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" class="btn btn-primary" />
</form>

 {%endblock%}