{% extends "base_template.html" %}
{% block tophead %}
    <style type="text/css">
        label {
            font-family: Roboto;
            font-size: 18px;
        }

        input {
            font-family: Roboto;
            font-size: 18px;
        }

        .errorlist {
            font-family: Roboto;
            font-size: 18px;
        }
    </style>
    <script src="{{ MEDIA_URL }}site_media/common/site_media.js"></script>
{% endblock %}
{% block content %}

    <form action="{{ request.path }}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>

    <script type="text/javascript">
        if (window.mobilecheck()) {
            document.getElementById("top_nav_bar").style.display = "None";
        }
    </script>
{% endblock %}