{%extends "base_template.html"%}
	{%block tophead%}
		<script src="{{MEDIA_URL}}site_media/common/jquery/ui/jquery-ui.js"></script>
		<link rel="stylesheet" href="{{MEDIA_URL}}site_media/common/jquery/css/jquery-ui.css">
		<style type="text/css" media="screen">
.ui-autocomplete-loading { background: white url('{{MEDIA_URL}}site_media/common/jquery/css/images/ui-anim_basic_16x16.gif') right center no-repeat; }
    </style>
	{%endblock%}

{%block content%}

{{message}}
<style type="text/css">
input { display:inline; }
input:after { content:"\A"; white-space:pre; }
.file_inputs{

}
.file_inputs input{

}
</style>
{%csrf_token%}

<!--
<form action="{{request.path}}" method="post" enctype="multipart/form-data" id="upload_form">
	{%csrf_token%}
	<input type="text" name="name" id="name" value="{{request.POST.name}}" placeholder="Person Name"/>
  <input type="text" name="categorie" id="categorie" value="{{request.POST.categorie}}" placeholder="Categorie"/>
	

	<div class="file_inputs" id="file_inputs">
	
{%if request.FILES%}

{%else%}
		<input type="file" name="docfile" id="id_docfile">
{%endif%}	
	</div>
	
	<input type="submit" value="Upload">

</form>
-->
<div class="container-fluid" id="main_container">
  <a href="#" onClick='hideAllAlters()' id="hideall_href">hide all alerts</a>
<div class="span12">
  <input type="text" name="name" id="name" value="{{request.POST.name}}" placeholder="Person Name"/>
  <input type="text" name="categorie" id="categorie" value="{{request.POST.categorie}}" placeholder="Categorie"/>
 </div>

 <div class="span12">
    <div id="drop-files" ondragover="return false"> <!-- ondragover for firefox -->
        Drop Images Here
    </div>

    <div id="uploaded-holder">
        <div id="dropped-files">
            <div id="upload-button">
                <a href="#" class="upload"><i class="ss-upload"> </i> Upload!</a>
                <a href="#" class="delete"><i class="ss-delete"> </i></a>
                <span>0 Files</span>
            </div>
        </div>
        <div id="extra-files">
            <div class="number">
                0
            </div>
            <div id="file-list">
                <ul></ul>
            </div>
        </div>
    </div>
     
    <div id="loading">
        <div id="loading-bar">
            <div class="loading-color"> </div>
        </div>
        <div id="loading-content">Uploading file.jpg</div>
    </div>
     
    <div id="file-name-holder">
        <ul id="uploaded-files">
            <h1>Uploaded Files</h1>
        </ul>
    </div>
  </div>
</div>
<style type="text/css">
#drop-files {
    width: 400px;
    height: 125px;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 4px dashed rgba(0,0,0,0.2);
    padding: 75px 0 0 0;
    text-align: center;
    font-size: 2em;
    float: left;
    font-weight: bold;
    margin: 0 20px 20px 0;
}
 
#dropped-files {
    float: left;
    position: relative;
    width: 560px;
    height: 125px;
}
 
#upload-button {
    position: absolute;
    top: 87px;
    z-index: 9999;
    width: 210px;
    display: none;
}
 
#dropped-files .image {
    height: 200px;
    width: 300px;
    border: 4px solid #fff;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}
 
#upload-button .ss-upload {
    font-size: 0.7em;
}
 
#upload-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -35px 40px -10px #0A9FCA;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4bc1e3;
    border-radius: 10px;
}
 
#upload-button span {
    display: block;
    width: 160px;
    text-align: center;
    margin: 20px 0 0 0;
    background: white;
    border-radius: 10px;
    font-size: 1.1em;
    padding: 4px 0;
    position: relative;
    left: -14px;
}
#upload-button a:hover {
    box-shadow: 0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -5px 40px 0px #0A9FCA;  
}
 
#extra-files {
    display: none;
    float: left;
    position: relative;
}
 
#extra-files .number {
    background: rgba(0,0,0,0.6);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #fff;
    padding: 20px 30px;
    margin: 60px 0 0 0;
    cursor: pointer;
    font-size: 30px;
}
 
#dropped-files #upload-button .delete {
    padding: 7px 6px 4px 6px;
    border-radius: 100px;
    background: rgba(0,0,0,0.6);
    box-shadow: none;
    font-size: 1em;
    margin-left: 8px;
}
 
#dropped-files #upload-button .delete:hover {
    background: rgba(0,0,0,0.8);
}
 
 
#extra-files .number:after {
    position: absolute;
    content: " ";
    top: 18px;
    left: -40px;
    display: block;
    border: 20px solid;
    border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
}
 
#extra-files #file-list {
    display: none;
    background: white;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 250px;
    top: 100px;
    border: 1px solid #dadada;
    left: -10px;
    left: -16px;
    max-height: 220px;
    top: 150px;
    position: absolute;
    color: #545454;
}
 
#file-list ul {
    overflow: scroll;
    padding: 0;
    border-top: 1px solid #dadada;
    max-height: 200px;
    width: 250px;
    list-style: none;
    border-bottom: 1px solid #dadada !important;
}
 
 
#file-list ul li:last-of-type {
    border-bottom: 0 !important;
}
 
#uploaded-holder {
    width: 700px;
    height: 250px;
    display: none;
    float: left;
}
 
#extra-files #file-list:after, #extra-files #file-list:before {
    position: absolute;
    content: " ";
    top: -40px;
    left: 40px;
    display: block;
    border: 20px solid;
    border-color: transparent transparent #ffffff transparent;
}
 
#extra-files #file-list:before {
    border-color: transparent transparent #dadada transparent;
    top: -41px;
}
 
#extra-files #file-list li {
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
}
 
#loading {
    display: none;
    float: left;
    width: 100%;
    position: relative;
}
 
#loading-bar {
    width: 404px;
    height: 40px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 2px;
}
 
.loading-color {
    width: 0%;
    height: 100%;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    border-radius: inherit;
    background-color: #4edbf1;
}
 
#loading-content {
    position: absolute;
    top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 405px;
}
 
#file-name-holder {
    width: 100%;
    float: left;
}
 
#file-name-holder h1 {
    text-align: center;
    border-bottom: 1px solid #dadada;
    padding: 20px 0;
    font-size: 3em;
    margin: 0;
}
 
#uploaded-files {
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 407px;
    top: 100px;
    padding: 0;
    border: 1px solid #dadada;
    max-height: 320px;
    overflow: scroll;
    color: #545454;
}
 
#uploaded-files li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 25px;
    color: #545454;
}
 
#uploaded-files a {
    color: #1bacbf;
}
</style>


<script type="text/javascript">
function showAlertBox(data){
  //$('#alert_box').show();
   //$('#alert_box').html("<strong>Warning!</strong> Best check yo self, you're not looking too good.");
  $("#hideall_href").show();
  $('#main_container').prepend('<div class="alert"><button type="button" class="close" data-dismiss="alert">&times;</button><strong>Message: </strong>'+data+'</div>');
 }
function hideAllAlters(){
  $(".alert").alert('close');
  $("#hideall_href").hide();
}
</script>



<script type="text/javascript">
$(document).ready(function() {
     $("#hideall_href").hide();
      // Makes sure the dataTransfer information is sent when we
      // Drop the item in the drop box.
      jQuery.event.props.push('dataTransfer');
       
      var z = -40;
      // The number of images to display
      var maxFiles = 5;
      var errMessage = 0;
       
      // Get all of the data URIs and put them in an array
      var dataArray = [];

        $('#drop-files').bind('drop', function(e) {
           
      // This variable represents the files that have been dragged
      // into the drop area
      var files = e.dataTransfer.files;
       
      // Show the upload holder
      $('#uploaded-holder').show();
       
      // For each file 
      $.each(files, function(index, file) {
        // Some error messaging
            if (!files[index].type.match('image.*')) {
                 
                if(errMessage == 0) {
                    $('#drop-files').html('Hey! Images only');
                    ++errMessage
                }
                else if(errMessage == 1) {
                    $('#drop-files').html('Stop it! Images only!');
                    ++errMessage
                }
                else if(errMessage == 2) {
                    $('#drop-files').html("Can't you read?! Images only!");
                    ++errMessage
                }
                else if(errMessage == 3) {
                    $('#drop-files').html("Fine! Keep dropping non-images.");
                    errMessage = 0;
                }
                return false;
            }

          if($('#dropped-files > .image').length < maxFiles) {
              // Change position of the upload button so it is centered
              var imageWidths = ((220 + (40 * $('#dropped-files > .image').length)) / 2) - 20;
              $('#upload-button').css({'left' : imageWidths+'px', 'display' : 'block'});
          }

        var fileReader = new FileReader();
     
        // When the filereader loads initiate a function
        fileReader.onload = (function(file) {
             
            return function(e) { 
                 
                // Push the data URI into an array
                dataArray.push({file_name : file.name, value : this.result});
                 
                // Move each image 40 more pixels across
                z = z+40;
                // This is the image
                var image = this.result;

                  // Just some grammatical adjustments
                    if(dataArray.length == 1) {
                        $('#upload-button span').html("1 file to be uploaded");
                    } else {
                        $('#upload-button span').html(dataArray.length+" files to be uploaded");
                    }
                    // Place extra files in a list
                    if($('#dropped-files > .image').length < maxFiles) { 
                        // Place the image inside the dropzone
                        $('#dropped-files').append('<div class="image" style="left: '+z+'px; background: url('+image+'); background-size: cover;"> </div>'); 
                    }
                    else {
                         
                        $('#extra-files .number').html('+'+($('#file-list li').length + 1));
                        // Show the extra files dialogue
                        $('#extra-files').show();
                         
                        // Start adding the file name to the file list
                        $('#extra-files #file-list ul').append('<li>'+file.name+'</li>');
                         
                    }
                }; 
                 
            })(files[index]);
             
        // For data URI purposes
        fileReader.readAsDataURL(file);
 
    });
     
 
});


function restartFiles() {
 
    // This is to set the loading bar back to its default state
    $('#loading-bar .loading-color').css({'width' : '0%'});
    $('#loading').css({'display' : 'none'});
    $('#loading-content').html(' ');
    // --------------------------------------------------------
     
    // We need to remove all the images and li elements as
    // appropriate. We'll also make the upload button disappear
     
    $('#upload-button').hide();
    $('#dropped-files > .image').remove();
    $('#extra-files #file-list li').remove();
    $('#extra-files').hide();
    $('#uploaded-holder').hide();
 
    // And finally, empty the array/set z to -40
    dataArray.length = 0;
    z = -40;
     
    return false;
}


$('#upload-button .upload').click(function() {
        name_val = document.getElementById("name");
        categorie_val = document.getElementById("categorie");
        if(name_val.value == ''){
          showAlertBox("ENTER A VALID NAME");
          return;
        }
        // Show the loading bar
        $("#loading").show();
        // How much each element will take up on the loading bar
        var totalPercent = 100 / dataArray.length;
        // File number being uploaded
        var x = 0;
        var y = 0;
         
        // Show the file name
        $('#loading-content').html('Uploading '+dataArray[0].file_name);
         
         
        // Upload each file separately
        $.each(dataArray, function(index, file) {   


$.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken",
                                     "{{csrf_token}}");
            }
        }
    });
//          console.log(dataArray[index])

            name_val = document.getElementById("name");
            categorie_val = document.getElementById("categorie");
        dataArray[index]['name'] = name_val.value;
        dataArray[index]['categorie'] = categorie_val.value;
//console.log(dataArray[index])
          // Post to the upload.php file
    $.post('{{request.path}}', dataArray[index], function(data) {
     
        // The name of the file
        var fileName = dataArray[index].file_name;
        ++x;
         //<strong>Warning!</strong> Best check yo self, you're not looking too good.
         showAlertBox(data);
        // Change the loading  bar to represent how much has loaded
        $('#loading-bar .loading-color').css({'width' : totalPercent*(x)+'%'});
         
        if(totalPercent*(x) == 100) {
            // Show the upload is complete
            $('#loading-content').html('Uploading Complete!');
             
            // Reset everything when the loading is completed
            setTimeout(restartFiles, 500);
             
        } else if(totalPercent*(x) < 100) {
         
            // Show that the files are uploading
            $('#loading-content').html('Uploading '+fileName);
         
        }

        // Show a message showing the file URL.
var dataSplit = data.split(':');
if(dataSplit[1] == 'uploaded successfully') {
    var realData = '<li><a href="images/'+dataSplit[0]+'">'+fileName+'</a> '+dataSplit[1]+'</li>';
     
    $('#uploaded-files').show();
     
    $('#uploaded-files').append('<li><a href="images/'+dataSplit[0]+'">'+fileName+'</a> '+dataSplit[1]+'</li>');

         // Add things to local storage 
                if(window.localStorage.length == 0) {
                    y = 0;
                } else {
                    y = window.localStorage.length;
                }
                 
                // We set this item in the local storage
                window.localStorage.setItem(y, realData);
             
            } else {
                $('#uploaded-files').append('<li><a href="images/'+data+'. File Name: '+dataArray[index].name+'</li>');
            }
             
        });
    });
     
    return false;
});


// Just some styling for the drop file container.
$('#drop-files').bind('dragenter', function() {
    $(this).css({'box-shadow' : 'inset 0px 0px 20px rgba(0, 0, 0, 0.1)', 'border' : '4px dashed #bb2b2b'});
    return false;
});
 
$('#drop-files').bind('drop', function() {
    $(this).css({'box-shadow' : 'none', 'border' : '4px dashed rgba(0,0,0,0.2)'});
    return false;
});
 
// For the file list
$('#extra-files .number').toggle(function() {
    $('#file-list').show();
}, function() {
    $('#file-list').hide();
});
 
// Restart files when the user presses the delete button
$('#dropped-files #upload-button .delete').click(restartFiles);


  // Append the localstorage the the uploaded files section
    if(window.localStorage.length > 0) {
        $('#uploaded-files').show();
        for (var t = 0; t < window.localStorage.length; t++) {
            var key = window.localStorage.key(t);
            var value = window.localStorage[key];
            // Append the list items
            if(value != undefined || value != '') {
                $('#uploaded-files').append(value);
            }
        }
    } else {
        $('#uploaded-files').hide();
    }
});


</script>
















<script type="text/javascript">
$(function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
 
    $( "#name" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/api/v1/name/",
          dataType: "json",
          data: {
            format: "json",
            name__icontains: request.term
          },
          success: function( data ) {
            console.log(data)
            response( $.map( data.objects, function( item ) {
              return {
                label: item.name ,
                value: item.name
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });
</script>


<script type="text/javascript">
$(function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
 
    $( "#categorie" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/api/v1/categories/",
          dataType: "json",
          data: {
            format: "json",
            name__contains: request.term
          },
          success: function( data ) {
            console.log(data)
            response( $.map( data.objects, function( item ) {
              return {
                label: item.categorie_name ,
                value: item.categorie_name
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });
</script>


{{categories_objects}}
 {%endblock%}
