{%extends "base_template.html"%}
	{%block tophead%}
		<script src="{{MEDIA_URL}}site_media/common/jquery/ui/jquery-ui.js"></script>
		<link rel="stylesheet" href="{{MEDIA_URL}}site_media/common/jquery/css/jquery-ui.css">
		<style type="text/css" media="screen">
.ui-autocomplete-loading { background: white url('{{MEDIA_URL}}site_media/common/jquery/css/images/ui-anim_basic_16x16.gif') right center no-repeat; }
    </style>
	{%endblock%}

{%block content%}

{{message}}
<style type="text/css">
input { display:inline; }
input:after { content:"\A"; white-space:pre; }
.file_inputs{

}
.file_inputs input{

}
</style>
<form action="{{request.path}}" method="post" enctype="multipart/form-data" id="upload_form">
	{%csrf_token%}
		<input type="text" name="name" id="name" value="{{request.POST.name}}" placeholder="Person Name"/>
  <input type="text" name="categorie" id="categorie" value="{{request.POST.categorie}}" placeholder="Categorie"/>
	

	<div class="file_inputs" id="file_inputs">
	
{%if request.FILES%}

{%else%}
		<input type="file" name="docfile" id="id_docfile">
{%endif%}	
	</div>
	
	<input type="submit" value="Upload">

</form>
<a href="#" onClick="addformelement()" >add new item</a>


<script type="text/javascript">
function addformelement(){
	a = document.getElementById('file_inputs')

	divx=document.createElement('div')
	divx.class='file_inputs'

	 x=document.createElement('input');
	 x.type='file';
	 x.name='docfile';

	 divx.appendChild(x);
	 a.appendChild(divx) ;
}
</script>

<script type="text/javascript">
$(function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
 
    $( "#name" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/api/v1/name/",
          dataType: "json",
          data: {
            format: "json",
            name__icontains: request.term
          },
          success: function( data ) {
            console.log(data)
            response( $.map( data.objects, function( item ) {
              return {
                label: item.name ,
                value: item.name
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });
</script>


<script type="text/javascript">
$(function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
 
    $( "#categorie" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/api/v1/categories/",
          dataType: "json",
          data: {
            format: "json",
            name__contains: request.term
          },
          success: function( data ) {
            console.log(data)
            response( $.map( data.objects, function( item ) {
              return {
                label: item.categorie_name ,
                value: item.categorie_name
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });
</script>


{{categories_objects}}
 {%endblock%}
