{% extends "base_template.html" %}

{% block tophead %}
    <script src="{{ MEDIA_URL }}site_media/common/jquery/ui/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}site_media/common/jquery/css/jquery-ui.css">
    <style type="text/css" media="screen">
        .ui-autocomplete-loading {
            background: white url('{{MEDIA_URL}}site_media/common/jquery/css/images/ui-anim_basic_16x16.gif') right center no-repeat;
        }
    </style>
{% endblock %}

{% block content %}
    <style type="text/css">
        input {
            display: inline;
        }

        input:after {
            content: "\A";
            white-space: pre;
        }

        .text_inputs {

        }

        .fixed {
            position: fixed;
            top: 40px;
            width: 100%;
            margin-bottom: 20px;
        }

        .text_inputs input {
            width: 1000px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            var theLoc = $('#alert_div').position().top;
            $(window).scroll(function () {
                if (theLoc >= $(window).scrollTop()) {
                    if ($('#alert_div').hasClass('fixed')) {
                        $('#alert_div').removeClass('fixed');
                    }
                } else {
                    if (!$('#alert_div').hasClass('fixed')) {
                        $('#alert_div').addClass('fixed');
                    }
                }
            });
        });

    </script>

    <a href="{{ g_start_next }}">next url</a> <br/>

    <div id="alert_div">
        <div class="alert alert-info" id="alert_info">
            {{ request.GET.q|urlencode }}
        </div>
    </div>

    <form action="{% url 'actors_images' %}" method="GET" id="search_form_top_main">
        <input type="text" name="q" value={{ request.GET.q }}/>
        <input type="hidden" name="g_start" value="0"/>
        <input type="submit" value="search"/>
    </form>

    <input type="text" name="name" id="name" value="{{ request.POST.name }}" placeholder="Person Name"/>
    <input type="text" name="categorie" id="categorie" value="{{ request.POST.categorie }}" placeholder="Categorie"/>


    {% for each_output in output %}
        <table>
            <tr>
                <td colspan="2">
                    <img src="{{ each_output.tbUrl }}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <form id="{{ each_output.imageId }}">
                        {% csrf_token %}
                        <input type="text" height="4" name="doctext" value="{{ each_output.unescapedUrl }}"/>
                        <input type="hidden" name="url" value="{{ each_output.unescapedUrl }}"/>
                        <input type="text" name="originalContextUrl" value="{{ each_output.originalContextUrl }}"/>
                        <input type="submit" value="submit"
                               onclick='submit_button_clicked("{{ each_output.imageId }}")'/>
                    </form>
                </td>
                <td>
                    <input type="text" value="{{ each_output.width }}"/>
                    <input type="text" value="{{ each_output.height }}"/>

                </td>
            </tr>
        </table>


        <script type="text/javascript">

            // variable to hold request
            var request;
            // bind to the submit event of our form
            $("#{{each_output.imageId}}").submit(function (event) {
                // abort any pending request
                if (request) {
                    request.abort();
                }
                {#    // setup some local variables#}
                {#    var $form = $(this);#}
                {##}
                {#    		input1 = $("<input>").attr("type", "hidden").attr("name", "name").val(name);#}
                {#		input2 = $("<input>").attr("type", "hidden").attr("name", "categorie").val(categorie);#}
                {#    form.append(input1);#}
                {#    form.append(input2)#}
                {##}
                {#    // let's select and cache all the fields#}
                {#    var $inputs = $form.find("input, select, button, textarea");#}
                {#    // serialize the data in the form#}
                {#    var serializedData = $form.serialize();#}
                {##}
                {#    // let's disable the inputs for the duration of the ajax request#}
                {#    $inputs.prop("disabled", true);#}
                {##}
                {#    // fire off the request to /form.php#}
                {#    request = $.ajax({#}
                {#        url: "{% url 'actors_images_ajax_post' %}",#}
                {#        type: "post",#}
                {#        data: serializedData#}
                {#    });#}
                {##}
                {#    // callback handler that will be called on success#}
                {#    request.done(function (response, textStatus, jqXHR){#}
                {#        // log a message to the console#}
                {#        console.log("Hooray, it worked!");#}
                {#    });#}
                {##}
                {#    // callback handler that will be called on failure#}
                {#    request.fail(function (jqXHR, textStatus, errorThrown){#}
                {#        // log the error to the console#}
                {#        console.error(#}
                {#            "The following error occured: "+#}
                {#            textStatus, errorThrown#}
                {#        );#}
                {#    });#}
                {##}
                {#    // callback handler that will be called regardless#}
                {#    // if the request failed or succeeded#}
                {#    request.always(function () {#}
                {#        // reenable the inputs#}
                {#        $inputs.prop("disabled", false);#}
                {#    });#}
                {##}
                {#    // prevent default posting of form#}
                event.preventDefault();
            });
        </script>
    {% endfor %}
    <script type="text/javascript">

        function submit_button_clicked(form_id) {
            form = $('#' + form_id);
            name_val = document.getElementById("name");
            categorie_val = document.getElementById("categorie");
            input1 = $("<input>").attr("type", "hidden").attr("name", "name").val(name_val.value);
            input2 = $("<input>").attr("type", "hidden").attr("name", "categorie").val(categorie_val.value);
            form.append($(input1));
            form.append($(input2));
            $.ajax({
                type: "POST",
                url: "{% url 'actors_images_ajax_post' %}",
                data: form.serialize(),
                success: function (response) {
                    {#				console.log( response );#}
                    $('#alert_info').html(response);
                }
            });
        }
    </script>


    <script type="text/javascript">
        $(function () {
            function log(message) {
                $("<div>").text(message).prependTo("#log");
                $("#log").scrollTop(0);
            }

            $("#name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/api/v1/name/",
                        dataType: "json",
                        data: {
                            format: "json",
                            name__icontains: request.term
                        },
                        success: function (data) {
                            console.log(data)
                            response($.map(data.objects, function (item) {
                                return {
                                    label: item.name,
                                    value: item.name
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    log(ui.item ?
                            "Selected: " + ui.item.label :
                            "Nothing selected, input was " + this.value);
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });
        });
    </script>


    <script type="text/javascript">
        $(function () {
            function log(message) {
                $("<div>").text(message).prependTo("#log");
                $("#log").scrollTop(0);
            }

            $("#categorie").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/api/v1/categories/",
                        dataType: "json",
                        data: {
                            format: "json",
                            name__contains: request.term
                        },
                        success: function (data) {
                            console.log(data)
                            response($.map(data.objects, function (item) {
                                return {
                                    label: item.categorie_name,
                                    value: item.categorie_name
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function (event, ui) {
                    log(ui.item ?
                            "Selected: " + ui.item.label :
                            "Nothing selected, input was " + this.value);
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });
        });
    </script>
{% endblock %}
