.image_thumb { 
   position: relative; 
   padding-right: 0;
   padding-left: 0;
}

.text_on_image { 
   position: absolute; 
   bottom:15px; 
   left: 20px;
   background: rgba(255, 255, 255, 0.44);
}

.remove_spaces{
	padding: 0;
	margin-bottom: 0px;
}