<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BackPaper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
	<script src="{{MEDIA_URL}}site_media/common/jquery/jquery-1.9.1.min.js"></script>
	<script src="{{MEDIA_URL}}site_media/common/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{{MEDIA_URL}}site_media/common/bootstrap/css/bootstrap.min.css">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41504871-2', 'w4rlock.in');
  ga('send', 'pageview');

</script>
    {%block tophead%}
      {%endblock%}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" id="top_nav_bar">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">BackPaper</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/indexv1/">Home</a></li>
              <li><a href="#categories">Categories</a></li>
              <li><a href="#names">Names</a></li>
             <!--
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
           -->
            </ul>
            {% if user.username %}
             <ul class="nav pull-right">
              <li class="active"><a href="#">Hi {{user}}</a></li>
              <li class="active"><a href="{% url 'django.contrib.auth.views.logout' %}?next={{request.path}}">Logout</a></li>
            </ul> 
            {%else%}
              <ul class="nav pull-right">
                <li><a href="{% url 'django.contrib.auth.views.login' %}?next={{request.path}}" > Login</a></li>
              </ul> 
            {%endif%}
          
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {%block content%}
      {%endblock%}

      <hr>

      <footer>
        <p><a href="http://backpaper.w4rlock.in/policy/">Policy</a>
        | &copy; Site for <a href="https://play.google.com/store/apps/details?id=com.w4rlock.backpaper">Android App</a> 2013</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
