{%extends "base_template.html"%}
 {%block tophead%}
 <script type="text/javascript">
 // var server = "http://backpaper.w4rlock.in"
 //var server = "http://127.0.0.1:8000"
 </script>
 <script type="text/javascript" src="{{MEDIA_URL}}site_media/common/mustache.js"></script>
 <STYLE TYPE="text/css">
 .thumbnail{
 	width: 300px;
 }
 .thumbnail2{
 	width: 200px;
 	height: 160px;
 }
 .caption2{
 	width: 80px;
 	text-rendering: optimizelegibility;
	text-overflow: ellipsis;
 }
 .view2{
 	width: 100%;
 	float: left;
 	display: none;
 }
 .view2_left{
 	width: 265px;
 	float: left;
 	overflow-x:hidden;
 	overflow-y: scroll;
 }
.view2_right{
	float: right;
	overflow-y:scroll;
}
.admin_href{
	display: {{admin_status_css}}
}
 </STYLE>
{%endblock%}

{%block content%}
<div id="cat_tabs">
</div>
<div class="row-fluid" id="large_thumbnails_main">
	<ul class="thumbnails" id="p2_main_body">

	</ul>
</div>

<div class="view2" id="view2">
	<div class="view2_left" id="view2_left">
		<div class="row-fluid">
			<ul class="thumbnails" id="small_thumbnails_main">

			</ul>
		</div>
	</div>
	<div class="view2_right" id="view2_right">
		<div class="name_images">
			<ul class="thumbnails" id="name_images_main">

			</ul>
		</div>
		<div class="progress progress-striped active hide"  id="view2_right_loader">
  		<div class="bar" style="width: 100%;"></div>
	</div>
	</div>
</div>


	
</div>

<script type="text/javascript">
Mustache.tags = ['[[',']]' ];

var side_exists = false;
</script>
<script type="text/template" id="categorie_tabs">
		
		<div class="tabs">
            <ul class="nav nav-tabs" id="nav_tabs_main">
                  <li id="cat_recent" class=""><a href="#/c/-1/" onclick="">Recent</a></li>
                  [[#objects]]
              	  	<li id="cat_[[id]]" class=""><a href="/indexv1/#/c/[[id]]/[[categorie_name]]/" onclick="">[[categorie_name]]</a></li>
              	  [[/objects]]
            </ul>
		</div>

</script>


<script type="text/template" id="name_items">
	[[#objects]]
		<li class="">
			<a href="#!/[[id]]/[[name]]" class="thumbnail">
				[[#name_images]]
					<img src="[[imagefile_small]]" />
				[[/name_images]]
				<div class="caption">
					<h3>[[name]]</h3>
					[[#categorie]]
						<p>Categorie:[[categorie_name]] </p>
					[[/categorie]]
				</div>
			</a>
		</li>
	[[/objects]]
	
</script>

<script type="text/template" id="small_thumbnails_main_template">
	
	[[#objects]]
		<li class="">
			<a href="#!/[[id]]/[[name]]"  class="thumbnail thumbnail2">
				[[#name_images]]
					<img class="pull-left" src="[[imagefile_small]]" />
				[[/name_images]]
				<div class="caption caption2 pull-right">
					<h4>[[name]]</h4>
					[[#categorie]]
						<p>[[categorie_name]] </p>
					[[/categorie]]
				</div>
			</a>
		</li>
	[[/objects]]
	
</script>

<script type="text/template" id="name_images">
	
	[[#objects]]
		<li class="">
			<a href="[[imagefile_download]]" target="_blank" class="thumbnail">
					<img src="[[imagefile_small]]" />

			</a>
			<a href="/admin/images/name_images/[[id]]" target="_blank" class="caption admin_href" id="admin_href">admin</a>
		</li>
	[[/objects]]
</script>


<script type="text/template" id="loading">
	<div class="progress progress-striped active">
  		<div class="bar" style="width: 100%;"></div>
	</div>
</script>


<script type="text/javascript">
var url = "/api/v1/name/?format=json&width=300&height=400&limit=0"
var cat_url =  "/api/v1/categories/?format=json&limit=0"
var template_loading_1 = $('#loading').html()
var html_loading_1 = Mustache.to_html(template_loading_1)
var html = Mustache.to_html(html_loading_1)
var side_url_name = '';
var next_url = '';
var loading=false;
</script>

<script type="text/javascript">
	function loadImages (name_id) {
		console.log(name_id)
		$("#p2_main_body").hide();
		$("#view2").show();
		$("#view2_left").show();
		// if(!side_exists){
			var template_loading_1 = $('#loading').html()
			var html_loading_1 = Mustache.to_html(template_loading_1)
			var html = Mustache.to_html(html_loading_1)
			$('#small_thumbnails_main').html(html);
			if(side_url_name==''){ side_url_name = "/api/v1/name/?format=json&width=100&height=160&limit=0" }
			$.getJSON(side_url_name, function(data) {
        		var template=$('#small_thumbnails_main_template').html();
        		var html = Mustache.to_html(template, data) //, partials);
        		$('#small_thumbnails_main').html(html);
			});
			side_exists = true;
		// }
		var url = "/api/v1/name_images/?format=json&name="+name_id+"&width=300&height=400"
		
		var template_loading_1 = $('#loading').html()
		var html_loading_1 = Mustache.to_html(template_loading_1)
		var html = Mustache.to_html(html_loading_1)
		$('#name_images_main').html(html);
		setWidth()

		$.getJSON(url, function(data) {
        		var template=$('#name_images').html();
        		var html = Mustache.to_html(template, data) //, partials);
        		$('#name_images_main').html(html);
        		next_url = data.meta.next;
        		appendImages();
		});

		setWidth();
		
	}	

	

	function setWidth () {
		$("#view2_right").width($("#view2").width() - 220 - 60);
		$("#view2_left").height($(window).height()-150);
		$("#view2_right").height($(window).height()-150);
		$("body").height($(window).height());
		$("body").css("overflow","hidden");
	}

	window.onresize = function(event) { setWidth() };

	function loadcategorieTabs(){
		$('#cat_tabs').html(html);
		$.getJSON(cat_url,function(data){
			var template = $('#categorie_tabs').html();
			var html = Mustache.to_html(template,data);
			$('#cat_tabs').html(html);
		});
	}

	function makeActive(id){
		// remove all actives;
		main_nav_tabs = $('#nav_tabs_main');
		childs = main_nav_tabs.children();
		for (var i = 0; i < childs.length; i++) {
			child = $(childs[i]);
			child.removeClass("active");
		};

		$("#"+id).addClass("active");
	};

	function loadRecent(){
		$("#p2_main_body").hide();
		$("#view2").show();
		$("#view2_left").hide();
		var url = "/api/v1/name_images/?format=json&width=300&height=400"
		var template_loading_1 = $('#loading').html()
		var html_loading_1 = Mustache.to_html(template_loading_1)
		var html = Mustache.to_html(html_loading_1)
		$('#name_images_main').html(html);
		setWidth()

		$.getJSON(url, function(data) {
        		var template=$('#name_images').html();
        		var html = Mustache.to_html(template, data) //, partials);
        		$('#name_images_main').html(html);
        		next_url = data.meta.next;
        		appendImages();
		});

		setWidth();
		$("#view2_right").width('100%');
		makeActive("cat_recent");
	}

	function appendImages(){
		$("#view2_right").unbind('scroll');
		$("#view2_right").scroll(function(){
		  scrollheight = $("#view2_right")[0].scrollHeight ; 
		  scrolltop = $("#view2_right").scrollTop(); 
		  height = $('#view2_right').height(); 
		  if(scrollheight== scrolltop+height){
		  	if(next_url != null ){
				url = next_url;
				loading = true;
		  		$('#view2_right_loader').show();
			  	$.getJSON(url, function(data) {
		        		var template=$('#name_images').html();
		        		var html = Mustache.to_html(template, data) //, partials);
		        		$('#name_images_main').append(html);
		        		next_url = data.meta.next;
		        		$('#view2_right_loader').hide();
						loading=false;
					});
			} 
		  }
		});
	}

	function hashControl () {
		a=window.location.hash;
		b=a.split('/');
		id=b[1];
		if(id=='c'){
			if(b[2]==-1){
				loadRecent();
				makeActive("cat_recent");
			}else{
				$("#p2_main_body").show();
				$("#view2").hide();
				url = "/api/v1/name/?format=json&width=300&height=400&limit=0&categorie__id="+b[2]
				side_url_name = "/api/v1/name/?format=json&width=100&height=160&limit=0&categorie__id="+b[2];
				makeActive("cat_"+b[2])
				$('#p2_main_body').html(html);
				$.getJSON(url, function(data) {
				        var template=$('#name_items').html();
				        var html = Mustache.to_html(template, data); //, partials);
				        $('#p2_main_body').html(html);     
				});	
				$("body").css("overflow","scroll");
				$("body").css("overflow-x","hidden");
			}
		}
		else if(id){
			loadImages(id);
		}else{
			$('#p2_main_body').html(html);
			$.getJSON(url, function(data) {
		        var template=$('#name_items').html();
		        var html = Mustache.to_html(template, data); //, partials);
		        $('#p2_main_body').html(html);
		        $("body").css("overflow","scroll");
				$("body").css("overflow-x","hidden");
			});	
			loadRecent();
		}
	}

	hashControl();
	loadcategorieTabs();
	window.onhashchange = hashControl;
	
</script>
 {%endblock%}