{%extends "base_template.html"%}
{%block tophead%}
 <script type="text/javascript">
 // var server = "http://backpaper.w4rlock.in"
 //var server = "http://127.0.0.1:8000"
 </script>
 <script type="text/javascript" src="{{MEDIA_URL}}site_media/common/mustache.js"></script>
 <STYLE TYPE="text/css">
 .thumbnail{
 	width: 300px;
 }
 .thumbnail2{
 	width: 200px;
 	height: 160px;
 }
 .caption2{
 	width: 80px;
 	text-rendering: optimizelegibility;
	text-overflow: ellipsis;
 }
 .view2{
 	width: 100%;
 	float: left;
 }
 .view2_left{
 	width: 265px;
 	float: left;
 	overflow-x:hidden;
 	overflow-y: scroll;
 }
.view2_right{
	float: right;
	overflow-y:scroll;
}
.admin_href{
	display: {{admin_status_css}}
}
body{
	height: 100%;
	overflow: hidden;
}
#p2_main_body{
	overflow-x:hidden;
	overflow-y:scroll;
}
#name_images_main{
	overflow-y:scroll;
	overflow-x:auto;
}
 </STYLE>
 <script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>
{%endblock%}

{%block content%}

<div id="cat_tabs">
	
</div>


<div class="row-fluid" id="body2">

</div>

<script type="text/template" id="m_loading">
	<div class="progress progress-striped active" id="html_loader">
  		<div class="bar" style="width: 100%;"></div>
	</div>
</script>

<script type="text/template" id="m_categorie_tabs">
		<div class="tabs">
            <ul class="nav nav-tabs" id="nav_tabs_main">
                  <li id="cat_-1" class=""><a href="#/c/-1/" onClick="load_this_cat(-1)">Recent</a></li>
                  [[#objects]]
              	  	<li id="cat_[[id]]" class=""><a href="#/c/[[id]]/[[categorie_name]]/" onClick="load_this_cat([[id]])">[[categorie_name]]</a></li>
              	  [[/objects]]
            </ul>
		</div>
</script>

<script type="text/template" id="m_view2">
	<div class="view2" id="view2">
		<div class="view2_left" id="view2_left">

		</div>
	
		<div class="view2_right" id="view2_right">

		</div>
	</div>
</script>

<script type="text/template" id="m_view2_left">
<ul class="thumbnails" id="small_thumbnails_main">
	[[#objects]]
		<li class="">
			<a href="#!/[[id]]/[[name]]" onClick="load_images([[id]])" class="thumbnail thumbnail2">
				[[#name_images]]
					<img class="pull-left" src="[[imagefile_small]]" />
				[[/name_images]]
				<div class="caption caption2 pull-right">
					<h4>[[name]]</h4>
					[[#categorie]]
						<p>[[categorie_name]] </p>
					[[/categorie]]
				</div>
			</a>
		</li>
	[[/objects]]
</ul>
</script>

<script type="text/template" id="m_view2_right_main">
	<div class="name_images">
		<ul class="thumbnails" id="name_images_main">
		</ul>
	</div>
</script>

<script type="text/template" id="m_view2_right_items">
	[[#objects]]
		<li class="">
			<a href="[[imagefile_download]]" target="_blank" class="thumbnail">
				<img src="[[imagefile_small]]" />
			</a>

            <div class="caption caption2">
			    <p style="width: 280px;word-wrap:break-word;float:left"><a style="float:left" href="/admin/images/name_images/[[id]]" target="_blank" class="caption admin_href" id="admin_href">admin | </a>
                    <a style="float:left" href="/feedback/report/?img_id=[[id]]" target="_blank" class="caption admin_href" > | Report | </a>
                    <a style="float:left" href="#" onclick="toggle_visibility('ics_[[id]]')"> | Show Source</a></p>
                <p style="width: 280px;word-wrap:break-word;display:none" id="ics_[[id]]">[[source]]</p>
			</div>

		</li>
	[[/objects]]
</script>

<script type="text/template" id="m_large_names_list">
<ul class="thumbnails" id="p2_main_body">
	[[#objects]]
		<li class="">
			<a href="#!/[[id]]/[[name]]" onClick="load_this_name([[id]])" class="thumbnail">
				[[#name_images]]
					<img src="[[imagefile_small]]" />
				[[/name_images]]
				<div class="caption">
					<h3>[[name]]</h3>
					[[#categorie]]
						<p>Categorie:[[categorie_name]] </p>
					[[/categorie]]
				</div>
			</a>
		</li>
	[[/objects]]
	</ul>
</script>


<script type="text/javascript">
	Mustache.tags = ['[[',']]' ];
	var template_loading_1 = $('#m_loading').html();
	var html_loading_1 = Mustache.to_html(template_loading_1);
	var html_loader = Mustache.to_html(html_loading_1);
	var next_url = '';
	var loading=false;
	var current_cat = '';
	var current_name = '';
	var current_cat_id = '';
	var current_name_id = '';
	var recent_url_x = "/api/v1/name_images/?format=json&width=300&height=400";
</script>

<script type="text/javascript">
	function loadcategorieTabs(){
		var cat_url =  "/api/v1/categories/?format=json&limit=0"
		$('#cat_tabs').html(html_loader);
		$.getJSON(cat_url,function(data){
			var template = $('#m_categorie_tabs').html();
			var html = Mustache.to_html(template,data);
			$('#cat_tabs').html(html);
		});
	}

	function load_view2 () {
		var template = $('#m_view2').html();
		var html = Mustache.to_html(template);
		$('#body2').html(html);
	}

	function load_view2_left (cat_url) {
		$('#view2_left').html(html_loader);
		$.getJSON(cat_url, function(data) {
    		var template=$('#m_view2_left').html();
    		var html = Mustache.to_html(template, data) //, partials);
    		$('#view2_left').html(html);
		});
	}

	function load_view2_right_main_view2 () {
		var template=$('#m_view2_right_main').html();
		var html = Mustache.to_html(template) //, partials);
		$('#view2_right').html(html);
	}

	function load_view2_right (append,url) {
		if($('#name_images_main').length ==0){
			load_view2_right_main_view2();
			load_view2_right(append,url);
		}else{
			html_loader_x = "<li class=\"\" id=\"html_loader\">"  + html_loader + "</li>"
			$('#name_images_main').append(html_loader_x);
			loading = true;
			$.getJSON(url, function(data) {
				var template=$('#m_view2_right_items').html();
	        	var html = Mustache.to_html(template, data) //, partials);
				if(append){
					$('#name_images_main').append(html);
					$("#html_loader").remove();
				}else{
	        		$('#name_images_main').html(html);
	        	}
	        	loading=false;
	        	next_url = data.meta.next;
	        	bindScroller();
			});
		}
	}
	
	function bindScroller(){
		$("#view2_right").unbind('scroll');
		$("#view2_right").scroll(function(){
		  scrollheight = $("#view2_right")[0].scrollHeight ; 
		  scrolltop = $("#view2_right").scrollTop(); 
		  height = $('#view2_right').height(); 
		  if(scrollheight== scrolltop+height){
		  	if(next_url != null ){
				url = next_url;
				loading = true;
				load_view2_right(true,next_url);
			} 
		  }
		});
	}

	function set_dimen_list () {
		$("#view2_right").width($("#view2").width() - 220 - 60);
		$("#view2_left").height($(window).height()-150);
		$("#view2_right").height($(window).height()-150);
	}

	function set_dimen_single () {
		$("#view2_left").height($(window).height()-150);
		$("#view2_right").height($(window).height()-150);
		$('#p2_main_body').height($(window).height()-150);
		$("#name_images_main").height($(window).height()-150);
	}

	function load_images (id) {
		load_view2_right(false,"/api/v1/name_images/?format=json&width=300&height=400&name="+id);	
	}

	function load_all (name_url,right_url) {
		load_view2();
		if($('#view2').length==0){
			load_all (name_url,right_url)
		}else{
			load_view2_left(name_url);
			load_view2_right(false,right_url);	
		}
		set_dimen_list();
	}

	function load_large_names_list (url) {
		$('#body2').html(html_loader);
		$.getJSON(url, function(data) {
			var template=$('#m_large_names_list').html();
			var html = Mustache.to_html(template, data); //, partials);
			$('#body2').html(html);     
			set_dimen_single();
		});	
	}

	function load_this_name (id) {
		current_name = "/api/v1/name_images/?format=json&width=300&height=400&name="+id;
		if(current_cat_id == ''){
			load_all("/api/v1/name/?format=json&width=100&height=160&limit=0",current_name);
		}else{
			load_all("/api/v1/name/?format=json&width=100&height=160&limit=0&categorie__id="+current_cat_id,current_name);
		}
	}

	function makeActive(id){
		// remove all actives;
		main_nav_tabs = $('#nav_tabs_main');
		childs = main_nav_tabs.children();
		for (var i = 0; i < childs.length; i++) {
			child = $(childs[i]);
			child.removeClass("active");
		};

		$("#cat_"+id).addClass("active");
	};

	function load_this_cat (id) {
		makeActive(id);
		if(id==-1){
			$('#view2').remove()
			load_recent(false,recent_url_x);
		}else{
			current_cat_id = id;
			current_cat = "/api/v1/name/?format=json&width=300&height=400&limit=0&categorie__id="+id;
			load_large_names_list(current_cat);
		}
	}
	function load_view2_right_main(){
		var template=$('#m_view2_right_main').html();
		var html = Mustache.to_html(template) //, partials);
		$('#body2').html(html);
	}

	function load_recent (append,url) {
		if($('#name_images_main').length ==0){
			load_view2_right_main();
			load_recent(append,url);
		}else{
			var recent_url = url;
			html_loader_x = "<li class=\"\" id=\"html_loader\">"  + html_loader + "</li>"
			$('#name_images_main').append(html_loader_x);
			loading = true;
			$.getJSON(recent_url, function(data) {
	        		var template=$('#m_view2_right_items').html();
	        		var html = Mustache.to_html(template, data) //, partials);
	        		next_url = data.meta.next;
	        		if(append){
	        			console.log("asdfsdfsdfsdfd")
						$('#name_images_main').append(html);
						$("#html_loader").remove();
					}else{
						$('#name_images_main').html(html);     
	        		}
	        		loading=false;
	        		next_url = data.meta.next;
	        		bindScrollerRecent(data.meta.next);
	        		set_dimen_single();
	        		set_dimen_list();
			});
		}
	}

	function bindScrollerRecent(next_url){
		$("#name_images_main").unbind('scroll');
		$("#name_images_main").scroll(function(){
		  scrollheight = $("#name_images_main")[0].scrollHeight ; 
		  scrolltop = $("#name_images_main").scrollTop(); 
		  height = $('#name_images_main').height(); 
		  if(scrollheight== scrolltop+height){
		  	console.log("Asdfsdf");
		  	if(next_url != null ){
				url = next_url;
				loading = true;
				load_recent(true,next_url);
			} 
		  }
		});
	}

// load_large_names_list("/api/v1/name/?format=json&width=300&height=400&limit=0")
// load_all("/api/v1/name/?format=json&width=100&height=160&limit=0","/api/v1/name_images/?format=json&width=300&height=400");
loadcategorieTabs();
load_recent(false,recent_url_x);

</script>
 {%endblock%}