<html>
<head>
	<title>Off the backbone</title>

	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/media/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/media/underscore-min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/media/backbone-min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/media/backbone-tastypie.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/media/handlebars-v1.1.2.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/media/bootstrap/js/bootstrap.min.js"></script>


	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/models/CategoriesModel.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/models/NamesModel.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/models/NameImagesModel.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/collections/CategoriesCollections.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/collections/NameImagesCollections.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/collections/NamesCollections.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/views/CategoryItemsView.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/views/NameItemsView.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/views/NameImagesView.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/views/LoadingItemView.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}site_media/index_1/app.js"></script>


	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}site_media/index_1/media/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}site_media/index_1/media/bootstrap/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}site_media/index_1/css/textonimage.css">

	<script>
	    var categories_json = '{{cr_list_json|escapejs}}';
	    var categories = JSON.parse(categories_json);
	    app.categoryItems.reset(categories);

	    var names_json = '{{nr_list_json|escapejs}}';
	    var names = JSON.parse(names_json);
	    
	</script>
</head>
<body>

	<div class="container">
		<h1>Off the backbone</h1>
		<div id="main_nav_items">
			<!--
			<ul class="nav nav-pills" >
				
			</ul>
			-->
		</div>
	</div>

	<div class="container">
		<div class="progress progress-striped active" id="loading_element"><div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div></div>
		<div id="app">
		</div>
	</div>

</body>
<script>
 $("#loading_element").hide();
</script>
</html>
