{%extends "base_template.html"%}
{%block tophead%}
<script src="{{MEDIA_URL}}site_media/common/highcharts.js"></script>
 
 
{%endblock%}

{%block content%}

<div id="container" style="width:100%; height:400px;"></div>

<script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Daily Visits Per Hour Basis',
                x: -20 //center
            },
            subtitle: {
                text: 'This is not an unique Counter',
                x: -20
            },
            xAxis: {
                categories: ['24-1', '1-2', '2-3', '3-4', '4-5', '5-6','6-7', '7-8', '8-9', '9-10', '10-11', '11-12','12-13','13-14','14-15','15-16','16-17','17-18','18-19','19-20','20-21','21-22','22-23','23-24']
            },
            yAxis: {
                title: {
                    text: 'No Of Visits in that hour'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: ' Visits'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [
		{% for each_item in result %}
			{
	                name: '{{each_item.name}}',
        	        data: [
				{% for each_val in each_item.values %}
					{{each_val}},
				{% endfor %}
			
			      ]
			},
		{%endfor%}
            ]
        });
    });
    
</script>
    <br/>
    <hr/>
{{result}}
{%endblock%}
