{%extends "base_template.html"%}
{%block tophead%}
 
 
{%endblock%}

{%block content%}

<ul>
	<li> we own none of the images</li>
	<li> if you have problem with anyimages report them <a href="/feedback/report/">here</a> </li>
</ul>

{%endblock%}